@charset "utf-8";
/* CSS Document */
#banner	{
	position: relative;
}
#banner:before{content:'';display: block;padding-top:24%}
#banner #top-visual{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0
}
.editor {color: #595757;font-size: 15px;}
#contentTilte h1	{
	text-align: center;
    font-size: 18px;
    line-height: 1.5rem;
   
    color: #058fd3;
    margin-top: 10px;
}
body.fixed aside {
    top: 64px;
}
aside {text-align: center;position: fixed;top: -66px;left: 0;z-index: 99;background: #fcfcfc;width: 100%;border-bottom: 3px solid #dadada;-webkit-transition: all 1s;-moz-transition: all 1s;transition: all 1s;}
aside ul {max-width: 1330px;margin: auto;}
aside ul li {display:inline-block;vertical-align:top;margin-bottom: -3px;}
aside ul li a {font-weight:bold;padding: 10px 15px;text-decoration:none;display:block;color: #666666;border-bottom: 3px solid #dadada;font-size: 13px;}
aside ul li a:hover {border-bottom: 3px solid #f8b62b;}
aside ul li.current a {color: #058fd3;border-bottom: 3px solid #058fd3;}
#path_bg	{
	background-color: #bfbfc0;
}

#path	{
	font-size: 0.75em;
	color: #FFF;
	margin:0 auto;
	max-width:1000px;
}
#path .padding	{
	padding: 15px 0;
}



#path a, #path a:hover	{
	color: #FFF;
	text-decoration: none;
}
#path a:hover	{
	text-decoration: underline;
}
/**↓star.sidebar**/
#sidebar_bg	{
	background: #d9d9d9;
	border-bottom: 1px solid #bebebe;
}
#sidebar	{
	position: relative;
}
.sidebar_head_bottom	{
	bottom: -6px;
	position: absolute;
	margin-left:calc(3% + 55px);
}
.sidebar_head_top_bg	{
	max-width:1000px;
	margin:0 auto;
}
.sidebar_head_top	{
	position: absolute;
    top: -6px;
    margin-left:calc(3% + 55px);
}
#content #sidebar .title	{
	margin: 0 0% 5% 0%;
	font-size: 1.25em;
	font-weight: bold;
	border-top:2px solid #757575;
}
.sidebar_head {
	cursor: pointer;
	position: relative;
}
.sidebar_list	{
}
li.sidebar_head	{
	color: #535353;
	font-size:0.875em;
	margin:0% auto;
	max-width:1000px;
}
.sidebar_head a	{
	color: #535353;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: 10px 0;
	padding-left: 20px;
	background-image: url(../images/sidebar_head.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.sidebar_head a:hover {
	color: #2A2A2A;
	font-weight: bold;
	background-image: url(../images/sidebar_head2.png);
}

.sidebar_head.link a 	{
	background-color: #FF4000;
	color: #FFF;
	font-weight: bold;
}

.sidebar_body {
	display:none;
	background:#535353;
	position:relative;
}
.sidebar_body .in	{
	margin:0 auto;
	max-width:1000px;
	padding:0.5% 0;
	position:relative;
}
.sidebar_body 	{
	color: #ffffff;
}
.sidebar_body ul li	{
	list-style-position: inside;
	list-style-image: url(../images/sidebar_line2.png);
	margin:0.5% 3%;
}
.sidebar_body a{
	color: #ffffff;
	padding-left: 12px;
	text-decoration: none;
	font-size: 1em;
}
.sidebar_body a:hover{
  text-decoration:underline;
  }
/**↑end.sidebar*********/
.flex {
	margin-top:20px;
}
.center {
	text-align:center;
}
.flex .width5 img {
	max-width: 120px;
	margin-right: 9%;
	width: calc(65% / 5 - 2px);
	margin-bottom:30px;
}

.flex .width5 img:last-child {
	margin-right: 0px;
}
#main	{
	width:70%;
	padding: 3% 0% 0% 0%;
	margin: 3% 0% 3% 0%;
	font-size: 1.25em;
	border-top:2px solid #757575;
	color:#333333;
	font-size:0.875em;
	line-height: 200%;
}
#main h1	{
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 1%;
}
#main .tableFrame	{/****表格加拉軸*****/
	overflow:auto;
}
#main p	{

}
#main p	a {
word-wrap: break-word;/***超連結換行***/
word-break: break-all;/***超連結換行***/
}

.editor p {
	margin-bottom:30px;
}
/**↓about專用**/

#about .flex li 	{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid #a3a3a3;
    padding-top: 25px;
}


#about .flex li:first-child {padding-top: 0}
#about .flex li:last-child {border-bottom: 0;}
#about .flex li .img {
	width: 33%;
	order: 1;
}
#about .flex li > div {margin-bottom: 50px;}
#about .flex li:nth-child(odd) > .img ,#about .flex li:nth-child(even) > .text {margin-right:30px;}
#about .flex li .text {
	width: calc(67% - 35px);
	order: 2;
}
.editor .titleH {
	color:#008fd3;
	font-weight:bold;
	margin-bottom:8px;
	font-size: 18px;
}
.editor .titleH2{color: #30b7f7;font-weight:bold;line-height:1.5rem;}
#about .flex li .look {
	font-size:13px;
	color:#d28f28;
	padding-left:10px;
	font-weight:100;
}
#about .flex li .look:before {content:"(";}
#about .flex li .look:after {content:")";}

#about .flex li:nth-child(even) .img {order: 2;}
#about .flex li:nth-child(even) .text {	order: 1;}

#about .flex li .text p {font-size: 14px;line-height: 1.5em;}
#about .flex.link .titleTT, #about .flex > ul > li > .text > .title {color: #008fd3;font-size: 19px;font-weight: bold;}
#about .flex.link .titleTT {margin-top: 50px;}
#about .flex.link li {cursor: pointer;width: calc(100% / 4 - 19px);margin-right: 20px;display: inline-block;vertical-align: top;}
#about .flex.link li:hover {opacity:0.7;}
#about .flex.link li:nth-child(4n) {margin-right:0;}
#about .flex.link li:first-child {padding-top: 25px;}
#about .flex.link  li .img {width: 100%;}
#about .flex.link li > div{margin-bottom: 10px;}
#about .flex.link li:last-child {border-bottom: 1px solid #a3a3a3;}
#about .flex.link li a{text-decoration:none;word-wrap: inherit;word-break: inherit;}
#about .flex.link li a .text {width: initial;color: #595757;}
#about .flex.link li .text .title {letter-spacing: 0.3px;font-size: 15px;}


#about .flex.link2 li .text .title {color: #008fd3;font-size:17px;font-weight: bold;}
#about .flex.link2 li {cursor: inherit;}
#about .flex.link2 li:hover {opacity:1;}

#about .history {
	overflow: hidden;
	position: relative;
	margin-top: 50px;
}
#exhibition .width900	{
	max-width: 846px;
}
#about .history::before {
	content: "";
	width: 2px;
	height: 100%;
	display: block;
	position: absolute;
	left: 50%;
	top: 14px;
	z-index: -50;
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	-khtml-border-radius: 10px; /* Konqueror */
	border-radius: 10px; /* Opera 10.50 and later (CSS3 standard) */
	background-color: #595757;
	z-index:1;
}
#about .history > li {
	list-style: none;
	display: block;
	position: relative;
}
#about .history > li:nth-child(odd) {
	margin-top: -76px;
	margin-bottom: 20px;
}
#about .history > li:first-child {
	margin-top:0%;
	margin-bottom: 0;
}
#about .history ul { padding-left: 0px; }
#about .history ul li {
	list-style: none;
	position: relative;
	max-width: calc(46% - 32px);
}
#about .history li:nth-child(odd) li 	{margin-left: calc(55% + 32px);}
#about .history .title {
	position: absolute;
	left: calc(50% - 7px);
	top: 50%;
	font-size: 28px;
	letter-spacing: 3px;
	line-height: 30px;
	display: block;
	width: 7%;
	max-width: 100px;
}

#about .history span:after {
	content: "";
	width: 12px;
	height: 12px;
	display: block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	background-color: #595757;
	border: 2px solid #e5e6e6;
	z-index: 10;
	position: relative;
}
#about .history span:before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: #595757;
	position: absolute;
	left: -87%;
	top: 7px;
	z-index: 12;
}
#about .history li:nth-child(odd) span:before {
	left: 11px;
}
#about .history li:first-child span:before {
	width: 0%;
}

#about .history li:first-child span::after	{
	border: 2px solid #e5e6e6;
	background-color: #595757;
}

#about .history li span.line::after	{
	background-color: #b4b4b5;
}
#about .history li .year {
	color:#008fd3;
	font-size:22px;
	font-weight:bold;
	margin-bottom:10px;
}
#about .history li .img {
	margin-bottom:10px;
	border: 1px solid #b0b0b0;
}
#about .history ul li .historyL,#about .history li .text {display: inline-block;vertical-align: middle;}
#about .history ul li .historyL {width: 30%;margin-right: 10px;}
#about .history li .text {line-height:1.3rem;	width: calc(70% - 15px);}

#about .org ul{display:inline-block;}
#about .org li{margin-bottom: 5px;text-align: left;}
#about .org li .inline-block{display: inline-block;vertical-align: top;}
#about .org li .inline-block:first-child.inH { color: #c88700;}

#about .org a:link, #about .org a:visited {text-decoration:underline; color:#c88700; transition: all 0.5s ease 0s;}
#about .org a:active, #about .org a:hover {text-decoration:none; color:#058fd3; cursor:pointer; transition: all 0.5s ease 0s;}
/**↓prouducts專用**/

.listTitle	{
	color: #595757;
	font-size:14px;
	line-height: 180%;
	padding: 12px 0;
}
.listTitle h2{font-size: 16px;margin: 5px 0;}
.listTitle h3{font-size: 14px; margin: 4px 0;}
.listTitle ul{list-style: disc;padding-left: 25px;}
.listTitle ol{list-style: decimal;padding-left: 25px;}
.listTitle ul li{list-style: disc;}
.listTitle ol li{list-style: decimal;}
#productsList > ul > li  {
	width: calc(100% / 4 - 19px);
	display: inline-block;
	vertical-align:top;
	margin: 30px  20px 0 0;
	position:relative;
	opacity:1;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
}

#productsList > ul > li a,
#productsList .title	{
	color: #535353;
	text-decoration: none;
}
#productsList > ul > li a.else{position: absolute;width: 100%;height: 100%;left: 0;top: 0;}

#productsList > ul > li a:hover,
#productsList ul li:hover .title	{
	color:#0098d7;
}

#productsList > ul	{

}
#productsList ul > li:nth-child(1), #productsList ul > li:nth-child(2), #productsList ul > li:nth-child(3), #productsList ul > li::nth-child(4), #productsList ul > li:nth-child(5)	{
	margin-top:0;
}
#productsList ul > li:nth-child(4n)	{
	margin-right:0;
}

#productsList ul li ul li ul li	{
	margin-top: 2%;
	list-style-type: disc;
}
#productsList .img , #productsList .text	{
	letter-spacing: 0px;
}

#productsList .img {padding: 15% 8%;-webkit-transition: border 0.3s;-moz-transition: border 0.3s;-o-transition: border 0.3s;background: #FFF;text-align: center;/*padding-bottom: 50px;*/}
#productsList ul li:hover .img	{

	position:relative;
}
#productsList ul li:hover .img:after {
	content:"";
	background:rgba(0,0,0,0.2);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}
#productsList .img img	{
	margin-bottom: calc(-1% - 4px);

}
#productsList ul li .img img	{
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#productsList ul li:hover .img img	{
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#productsList .text	{
	 width: calc(48% - 18px);
	 word-break: break-all;

}

#productsList .title	{
	 text-align:center;
	 margin-top: 5px;
	 font-size: 13px;
	 font-weight: bold;
	 letter-spacing: 0;
}

#productsList h1	{
	font-size: 1.5em;
	margin-bottom:2%;
	font-weight: bold;
}
#productsList .link a	{
	width: 96%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	left:0;
}
#productsList.productsList2 > ul > li .tooltip-item .title{
    background: rgba(189, 189, 189, 0.7);
    margin-top: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#productsList.productsList2 > ul > li:hover .tooltip-item .title{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin-top:0;
	background: rgba(10, 10, 10, 0.7);
}
#productsList.productsList2 > ul > li:hover .tooltip-item .title .title_in{
    position: absolute;
    width: 100%;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#productsList.productsList2 > ul > li .tooltip-item .title .title_in a{
    padding: 2px 10px;
    min-width: calc(100% / 2 - 46px);
    display: inline-block;
}
#productsList.productsList2 > ul > li:hover .tooltip-item .title .title_in a{
    display: block;
    color: #FFF;
    padding: 10px;
    font-size: 19px;
}
#productsList.productsList2 > ul > li:hover .tooltip-item .title .title_in a:hover{color: #058fd3;}
#productsList.productsList2 > ul > li:hover .tooltip-content .title{
    display: block;
    clear: both;
    text-align: left;
    color: #FFF;
    font-size: 15px;
    margin-bottom: 10px;
}
#productsList.elseTitle ul > li {
	width: calc(100% / 6 - 21px);
}
#productsList.elseTitle ul > li:nth-child(4n)	{
	margin-right:20px;
}
#productsList.elseTitle ul > li:nth-child(6n)	{
	margin-right:0;
}
#productsList.elseTitle ul li:hover	{
	opacity:1;
}
#productsList.elseTitle ul li .title {
	font-size: 13px;
	line-height: 1rem;
}
#pageNumber	{
	font-size: 0.9em;
	color: #6B6B6B;
	display: block;
	text-align: center;
	margin:3% auto 0 auto;
	overflow:hidden;
}
#pageNumber :hover.link,#pageNumber .link 	{
	color: #1F9AD6;
	font-weight: bold;
}

#pageNumber a, #pageNumber a:hover	{
	color: #333333;
	text-decoration: none;
	margin-top: 10px;
	display:inline-block;
}
#pageNumber a:hover	{
	text-decoration: underline;
}
#pageNumber a:first-child {
	background-image: url(../images/pageNumber.png);
	background-repeat: no-repeat;
	background-position: left 5px;
    height: 22px;
	width: 17px;
	text-indent: 9999px;
}
#pageNumber a:last-child {
	background-image: url(../images/pageNumber.png);
	background-repeat: no-repeat;
	background-position: right 5px;
    height: 22px;
	width: 17px;
	text-indent: 9999px;
}
#productsList .elseList:first-child	{
	margin-top: 0;
}
#productsList .elseList	{
    margin-bottom: 15px;
    display: -webkit-inline-box;
    min-width: 400px;
    color: #595757;
    font-weight: bold;
}


#productsList .line:last-child		{
	display:none;
}
#productsList .line	{
	height: 1px;
	background-color: #a1a1a1;
	margin: 30px 0 60px 0;
}

/**↓prouducts_in專用**/
.line	{
	height: 1px;
	background-color: #bebebe;
	margin: 3% 0;
}

#productsIn	{
	background-color: #FFF;
    padding: 3%;
}

#productsIn .img, #productsIn .special	{
	width:48%;
}

#productsIn .h1	{
	font-size: 17px;
	color:#3f3f3f;
	font-weight: bold;
}
#productsIn .text_title	{
	font-size: 14px;
	margin-bottom: 6px;
	font-weight:bold;
	color: #595757;
}
#productsIn .text,#productsIn .text ul li {
	color: #595757;
	font-size: 13px;
	line-height: 1.9em;
	list-style: outside;
    margin-left: 8px;
}

#productsIn .text {
	margin-bottom: 15px;
}
#productsIn .video	{
    padding: 1% 3% 0% 0%;
	border-radius:3px;
	margin-bottom: 1%;
    margin-right: 1%;
}

#productsIn .video ul a li	, #productsIn .video ul a {
	color: #c5312f;
	text-decoration: none;
}
#productsIn .video ul a:hover li	{
	text-decoration: underline;
}
#productsIn .video .title	{
	color: #595757;
	font-weight: bold;
	text-align: left;
	font-size: 1.125em;
}
#productsIn .video	ul li 	{
	font-size: 0.8em;
	color: #c5312f;
	background-image: url(../images/productsIn_movie2.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left:35px;
	margin:1.5% 0;
}
#productsIn .else	{
	color: #FFF;
}
#productsIn .else a	{
	color: #fff;
	text-decoration: none;
}
#productsIn .else a:hover,
#productsIn .else .else_back:hover	{
	opacity:0.8;
}

#productsIn .else .else0	{
	border-radius: 3px;
	padding: 1% 3% 1% 3%;
}
#productsIn .else .else0 span	{
	background-repeat: no-repeat;
	background-position: left;
	padding-left:25px;
}
#productsIn .else .else1 {
	background-color: #0098d7;
}
#productsIn .else .else1 span	{
	background-image: url(../images/productsIn_else1.png);
}
#productsIn .else .else2 {
	background-color: #797979;
	margin-left:2%;
}
#productsIn .else .else2 span	{
	background-image: url(../images/productsIn_else2.png);
}
#productsIn .else .else3 {
	background-color: #f8b62b;
	margin-left:2%;
}
#productsIn .else .else3 span	{
	background-image: url(../images/productsIn_else3.png);
}
#productsIn .else .else_back {
	margin-top: -0.5%;
	color:#0098d7;
	font-size:0.75em;
	display: inline-block;
	padding: 1% 0;
}
#productsIn .else .else_back span	{padding-left:13px;font-size: 18px;font-weight: bold;}
#productsIn .else .else_back span:before {
	background-image: url(../images/productsIn_else_back.png);
	width: 18px;
	height: 22px;
	content:"";
	display:inline-block;
	background-size: auto 100%;
	margin-right: 8px;
	margin-bottom: -5px;
}


/**star.產品內容專用社群***/
#productsIn .social	{
	text-align:center;
	margin: 50px 0;
	width: 100%;
}
#productsIn .social .at-share-tbx-element .at-share-btn {margin-right:15px;}
#productsIn  .social .link {
	opacity: 1;
}
#productsIn .social .link span	{
    left: 18%;
    top: 15%;
    font-size: 0.875em;
}

#productsIn .social .link.facebook {
	background-color: #305891;
}

#productsIn .social .link.star,#productsIn .social .link.google,#productsIn .social .link.google-plus,#productsIn .social .link.twitter,#productsIn .social .link.plus	{
	color:#FFF;
}
#productsIn .social .link.star {
	background-color: #f5ca59;
}
#productsIn .social .link.google {
	background-color: #0868b9;
}
#productsIn .social .link.google-plus {
	background-color: #d0422a;
}
#productsIn .social .link.twitter	{
	background-color: #19bfe5;
}
#productsIn .social .link.plus	{
	background-color: #f7684c;
}


/**end.產品內容專用社群**/




.news_pic{
	display: inline-block;
	margin-bottom: 20px;
}
.news_pic img{
	width: 327px;
}


.news_show {
	margin-top: 15px;
}
.global_dist{
  font-size: 18px;
  margin: 20px 0;
  padding-left: 230px;
  font-weight: 600;
}
.global_dist span{
  font-size: 46px;
  color: #058fd3;
  display: block;
  margin-left: 100px;
  line-height: 150%;
}
.global_map{
  position: relative;
}
.global_map_btn{
  position: absolute;;
}
.global_map_btn ul {
  position: relative;
  display: none;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0,0,0, .4);
  border-radius: 2px;
  top: 10px;
}
.global_map_btn ul li{
  padding: 5px;
  font-weight: 600;
}
.global_map_btn.open ul{
  display: block;
}
.global_map_img a {
  color: #058fd3;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}
.global_map_img a:hover {
  color: #035780;
}

/* 國定位 */
.north_america{
  top: 25%;
  left: 9%;
}
.south_america{
  top: 65%;
  left: 20%;
}
.europe {
  top: 20%;
  left: 45%;
}
.africa{
  top: 50%;
  left: 46%;
}
.aria{
  top: 40%;
  left: 75%;
}
.oceania{
  top: 75%;
  left: 85%;
}
.tab_ctrl td:not(:last-child){width: 200px;text-align: center;}
.edit_page h2 {font-size: 20px;margin:10px 0 5px;}
.edit_page ul {padding-left: 25px;margin: 10px 0;}
.edit_page ol {padding-left: 25px;margin: 10px 0;}
.edit_page li {line-height: 1.6;}
.edit_page ol li {list-style: decimal;}
.red {color: red;}
.edit_page ul li {list-style: disc;}
.tab_ctrlbox {margin: 15px 0;overflow-x: auto;}
.tab_ctrlbox table {border-collapse: collapse;min-width: 800px;}
.tab_ctrlbox table td{border: 1px solid #ccc;padding: 8px 10px;}
.tab_ctrlbox table tr:first-child td {text-align: center;background-color: #b0b0b0;}

.table_color { width: 100%; }
.table_color td { background-color: transparent !important; }
.flex_box { display: flex; flex-wrap: wrap; margin-bottom: 30px; }
.flex_box > div { width: calc(50% - 1%); margin: 10px 1% 10px 0; display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: center;}
.flex_box2 { display: flex; flex-wrap: wrap; justify-content: center; margin-bottom: 30px; }
.flex_box2 > div { text-align: center; width: calc(25% - 1%); margin: 10px 1% 10px 0%; font-size: 14px; }
.flex_box2 > div p { margin-top: 15px; }

@media only screen and (max-width:768px) {
	.flex_box > div { width: 100%; margin: 10px 0 20px 0; }
	.flex_box > div div { margin-bottom: 13px; }
	.flex_box2 > div { width: calc(50% - 1%); margin: 10px 1% 10px 0%;}
}

@media only screen and (max-width:576px) {
	.flex_box2 > div { width: 100%; margin: 10px 0;}
}


@media only screen and (max-width:600px) {
	.tab_ctrl td{display: flex;}
	.tab_ctrl td div:not(:last-child){margin-right: 6px;}
	.tab_ctrl td:not(:last-child) {width: 100%;}
	.tab_ctrl_2 td{display: block;margin-bottom: 5px;}
}
@media only screen and (max-width:840px){
  .global_dist{
    padding-left: 130px;
  }
  .global_dist span{
    font-size: 40px;}
}
@media only screen and (max-width:470px){
  .global_dist{
    line-height: 1.5;
    padding-left: 20px;
  }
  .global_dist span{
    font-size: 38px;
    display: block;
    margin-left: 0;
    text-align: center;
  }
  .global_map_btn{position: static;  border-bottom: 1px solid #f4f4f4;}
  .global_map_btn:nth-of-type(even){
    background-color: #D2D6D9;
  }
  .global_map_mb_dot{
    margin-bottom: 10px;
  }
  /* .global_map_mb_dot{
    position: relative;
  } */
  .global_map_mb_btn{
    position: absolute;
    z-index: 1;
  }
  .global_map_mb_btn a{
    width: 10px;
    height: 10px;
    display: block;
  }
  .global_map_mb_btn:before{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #058fd3;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0, .5);
  }
  .north_america{
    top: 43px;
    left: 13%;
  }
  .south_america{
    top: 106px;
    left: 23%;
  }
  .europe {
    top: 26px;
    left: 45%;
  }
  .africa{
    top: 70px;
    left: 46%;
  }
  .aria{
    top: 65px;
    left: 75%;
  }
  .oceania{
    top: 134px;
    left: 89%;
  }
  .global_map_btn.open ul {
    box-shadow: unset;
    position: static;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
  }
  .global_map_btn ul li{
    width: 50%;
    box-sizing: border-box;
  }
  .global_map_btn ul{
    background-color: transparent;
    
  }
  .global_map_btn a{display: block;padding: 8px 10px;}
}
@media only screen and (max-width:350px){
  .north_america{
    top: 25px;
    left: 13%;
  }
  .south_america{
    top: 81px;
    left: 23%;
  }
  .europe {
    top: 22px;
    left: 45%;
  }
  .africa{
    top: 56px;
    left: 46%;
  }
  .aria{
    top: 56px;
    left: 75%;
  }
  .oceania{
    top: 105px;
    left: 89%;
  }
}
@media only screen and (min-width:601px){
  .global_map_btn.aria.open ul{
    display: flex;
    flex-wrap: wrap;
    left: -40px;
    width: 110%;
    max-width: 280px;
  }
  .global_map_btn.europe.open ul {
    display: flex;
    flex-wrap: wrap;
    left: -40px;
    width: 110%;
    max-width: 250px;
  }
  .global_map_btn.aria.open ul li, .global_map_btn.europe.open ul li {
    width: 50%;
    box-sizing: border-box;
  }
  .global_map_btn.aria.open ul li:nth-of-type(even), .global_map_btn.europe.open ul li:nth-of-type(even) {
    padding-left: 8px;
  }
  .global_map_comp{
    position: relative;
  }
  .global_map_comp::before{
    position: absolute;
    content: '';
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #f8b62b;
    transition: all .3s;
  }
  .open .global_map_comp::before{
    width: 100%;
  }
}


@media print, screen and (max-width:1200px){
input, textarea,select,select:focus,textarea:focus,input:focus {font-size: initial;}/*手機瀏覽文字欄位不放大*/

#path,li.sidebar_head {
	max-width: 960px;
}
.flex .width5 {
	text-align:center;
}
.flex .width5 img {
	margin-right: 60px;
	width: calc(100% / 5 - 60px);
}
}
@media print, screen and (max-width: 999px){
#contentTilte h1 {
    margin-top: 0;
    text-align: center;
}
aside,body.fixed aside {
    top: 71px;
    text-align: left;
}
aside ul {
	display: none;
}

aside .title {
	padding: 5px 15px;
	font-weight: bold;
	background: #a2a2a0;
	color: #FFF;
	position:relative;
	font-size: 15px;
}
aside .title:after {
	content:"";
	position:absolute;
	right:15px;
	top:12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11px 6px 0 6px;
	border-color: #ffffff transparent transparent transparent;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
aside .title.current:after {
	-moz-transform:rotate(3.14159rad);
	-webkit-transform:rotate(3.14159rad);
	-o-transform:rotate(3.14159rad);
	-ms-transform:rotate(3.14159rad);
	transform:rotate(3.14159rad);
}
aside ul li {
	display:block;
	margin-bottom: 0;
}


#path,li.sidebar_head {
	padding:0 30px;
}

/**↓prouducts專用**/

#productsList .img 	{
	width:84%;
}
#productsList ul a:hover .img img	{
	-webkit-transform: scale(1.0, 1.0);
	-moz-transform: scale(1.0, 1.0);
	-ms-transform: scale(1.0, 1.0);
	-o-transform: scale(1.0, 1.0);
	transform: scale(1.0, 1.0);
}
#productsList .text	{
	width:calc(100% - 18px);
	margin-left: 18px;
}

#productsList .elseList	{
	min-width: initial;
}
#productsList.elseTitle > ul > li	{
	width: calc(100% / 4 - 19px);
}

#productsList.elseTitle > ul > li:nth-child(6n),#productsList.elseTitle > ul > li:nth-child(2n)  {
	margin-right:20px;
}
#productsList.elseTitle ul > li:nth-child(4n) {margin-right:0px;}
/**↓prouducts_in專用**/
#productsIn .img, #productsIn .special	{
	width:100%;
}

article .else .left, article .else .right	{
	width:100%;
}
article .else .title	{
	text-align:left;
	margin-left:0;
}
article .else .text	{
	margin-left:0;
}
article .else .picS	{
	margin-top:0px	;
}
article .else .picS img	{
	width: calc(49% - 2px);
}
#productsIn .else .else0	{
	display: table;
}
#productsIn .else .else2, #productsIn .else .else3	{
	margin: 3% 0;
}

#productsList > ul > li	{
	width: calc(100% / 2 - 13px);
}
#productsList > ul > li:nth-child(2n) {margin-right:0;}
#about .flex li .img,#about .flex li .text{width: 100%;}
.flex .width5 img {width: calc(100% / 3 - 13px);margin-right: 15px;}
.flex .width5 img:nth-child(3n) {margin-right:0;}

#about .flex.link li {width: calc(100% / 3 - 19px);}
#about .flex.link li:nth-child(4n) {margin-right: 20px;}
#about .flex.link li:nth-child(3n) {margin-right:0;}

#about .history ul li .historyL,#about .history li .text  {width:inherit;margin-right: 0px;}
#about .history > li:nth-child(odd) {margin-top: -228px;}
#about .history > li:first-child {margin-top: 0%;}

.editor .titleH2 {text-align: left;}
#about .org li{margin-bottom: 10px;}
}


@media only screen and (max-width: 768px) {

#productsList.elseTitle > ul > li	{width: calc(100% / 2 - 19px);}
#productsList.elseTitle > ul > li:nth-child(2n) {margin-right:0px;}

}
@media only screen and (max-width: 640px) {

#about .flex li {display: inherit;}
#about .flex li > div:first-child {margin-bottom:15px}
#about .flex li:last-child {border-bottom: 1px solid #a3a3a3;}
#about .flex.link li {width: calc(100% / 2 - 13px);}
#about .flex.link li .text .title {font-size: 15px;letter-spacing: 0;}
#about .flex.link li:nth-child(3n),#about .flex.link li:nth-child(4n) {margin-right: 20px;}
#about .flex.link li:nth-child(2n) {margin-right:0;}


}
@media only screen and (max-width: 570px) {

#about .history:before {left: 7px;}
#about .history ul li {max-width: inherit;margin-left: 18%;margin-bottom:30px;}
#about .history > li:nth-child(odd) {margin-top: 5px;}
#about .history li:nth-child(odd) li {margin-left: 18%;}
#about .history span:before {left: 11px;}
#about .history .title {left: 0px;}

}

@media only screen and (max-width: 414px) {

#productsList.productsList2 > ul > li .tooltip-item .title{margin-top:0;background: inherit;}
#productsList.productsList2 > ul > li:hover .tooltip-item .title{position: inherit;background: inherit;}
#productsList.productsList2 > ul > li:hover .tooltip-item .title .title_in{
    position: inherit;
    -moz-transform: inherit;
    -webkit-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit;
}
#productsList.productsList2 > ul > li .tooltip-item .title{position:relative;}
#productsList.productsList2 > ul > li .tooltip-item .title .title_in a {display: block;}
#productsList.productsList2 > ul > li .tooltip-item .title .title_in a:first-child {margin-top:10px;}
#productsList.productsList2 > ul > li:hover .tooltip-item .title .title_in a{color: #535353;font-size: 14px;padding: 2px 10px;}
#productsList .img{/*padding-bottom:8%;*/}
#productsList ul li:hover .img:after{position: inherit;}
#productsList > ul > li a.else{display: none;}

}


@media only screen and (max-width: 360px) {


}

@media only screen and (max-width: 320px) {


}
